# Final Project

### 獲取歷史資料

In [9]:
from finlab import data

#data = Data()

rev = data.get('rotc_monthly_revenue:當月營收')	
close = data.get('price:收盤價')


#rev.index = rev.index.shift(5, "d")

In [4]:
from finlab import data

data.get('price:收盤價')

輸入成功!

INFO:finlab.data:price:收盤價 -- Daily data usage: 43.7 / 5000 MB

,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2007-04-23,9.54,57.85,32.83,38.40,NaN,NaN,NaN,NaN,NaN,NaN,...,31.00,30.35,9.78,73.60,13.25,51.3,72.40,NaN,46.00,49.60
2007-04-24,9.54,58.10,32.99,38.65,NaN,NaN,NaN,NaN,NaN,NaN,...,32.00,30.50,9.91,75.00,13.25,50.5,71.60,NaN,45.90,50.40
2007-04-25,9.52,57.60,32.80,38.59,NaN,NaN,NaN,NaN,NaN,NaN,...,32.30,29.50,10.10,74.60,13.30,49.9,71.60,NaN,49.10,49.10
2007-04-26,9.59,57.70,32.80,38.60,NaN,NaN,NaN,NaN,NaN,NaN,...,31.60,29.15,10.80,74.50,13.25,49.5,71.00,NaN,48.90,48.00
2007-04-27,9.55,57.50,32.72,38.40,NaN,NaN,NaN,NaN,NaN,NaN,...,31.40,28.50,11.55,75.70,13.15,48.8,69.50,NaN,48.60,46.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-14,NaN,113.65,54.95,95.95,55.85,NaN,23.03,28.35,NaN,NaN,...,20.70,59.00,13.90,18.55,11.70,67.1,21.00,82.5,25.35,16.35
2022-09-15,NaN,113.85,55.25,96.15,56.00,NaN,23.03,28.59,81.60,NaN,...,20.70,60.30,13.85,18.85,12.00,69.9,20.55,82.8,25.35,16.35
2022-09-16,NaN,112.55,54.80,95.10,55.30,NaN,23.06,28.28,80.85,NaN,...,20.75,59.80,13.85,18.85,11.95,68.9,20.00,81.9,25.30,16.00
2022-09-19,NaN,112.05,54.35,94.70,54.90,NaN,22.96,28.06,80.30,NaN,...,20.65,58.00,13.30,20.35,12.00,67.3,19.60,80.8,25.25,16.05
2022-09-20,NaN,113.05,54.65,95.75,55.60,NaN,23.00,27.98,80.70,NaN,...,20.65,58.90,13.65,19.95,11.60,67.4,19.60,77.9,25.20,15.95

In [10]:
t1 = close[close.index.day ==15 ]
t1

,0015,0050,0051,0052,0053,0054,0055,0056,0057,0058,...,9944,9945,9946,9949,9950,9951,9955,9958,9960,9962
date,,,,,,,,,,,,,,,,,,,,,
2007-05-15,9.67,58.15,32.40,38.95,NaN,NaN,NaN,NaN,NaN,NaN,...,31.90,27.05,15.80,65.70,13.40,49.7,68.30,NaN,51.90,46.30
2007-06-15,10.35,63.20,34.20,43.05,NaN,NaN,NaN,NaN,NaN,NaN,...,40.55,28.30,15.40,59.00,13.60,58.3,67.70,NaN,58.50,45.05
2007-08-15,10.85,62.15,36.80,42.30,28.20,24.00,13.74,NaN,NaN,NaN,...,41.80,35.85,16.25,59.00,14.90,55.6,115.50,NaN,50.90,31.90
2007-10-15,11.70,70.55,39.30,45.50,29.80,27.31,14.86,NaN,NaN,NaN,...,38.10,33.75,15.10,48.30,14.00,61.0,102.50,NaN,40.85,31.10
2007-11-15,10.70,64.25,36.62,42.95,28.03,25.70,13.97,NaN,NaN,NaN,...,38.50,29.55,14.00,45.00,13.90,51.5,75.00,NaN,37.95,23.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-15,NaN,132.25,58.55,119.95,62.50,29.60,26.66,32.90,92.35,NaN,...,20.95,72.50,13.40,13.35,11.55,71.8,31.45,130.5,25.45,21.95
2022-06-15,NaN,122.75,55.50,102.65,59.10,NaN,23.46,30.39,86.20,NaN,...,20.35,77.00,13.15,19.60,13.20,66.7,21.30,108.0,26.10,16.10
2022-07-15,NaN,115.50,51.00,96.65,55.60,NaN,21.45,27.09,81.20,NaN,...,19.45,70.90,12.75,19.90,12.60,60.9,19.35,94.4,26.55,12.80
2022-08-15,NaN,121.90,55.35,102.80,59.40,NaN,24.04,29.22,86.90,NaN,...,20.55,64.90,13.10,19.60,12.30,63.6,21.85,101.0,25.40,16.30
2022-09-15,NaN,113.85,55.25,96.15,56.00,NaN,23.03,28.59,81.60,NaN,...,20.70,60.30,13.85,18.85,12.00,69.9,20.55,82.8,25.35,16.35

### 計算features

In [11]:
def bias(n):
    return close / close.rolling(n, min_periods=1).mean()

def acc(n):
    return close.shift(n) / (close.shift(2*n) + close) * 2

def rsv(n):
    l = close.rolling(n, min_periods=1).min()
    h = close.rolling(n, min_periods=1).max()
    
    return (close - l) / (h - l)

def mom(n):
    return (rev / rev.shift(1)).shift(n)

def yoy(n):
    return (rev / rev.shift(12)).shift(n)




features = {
    'mom1': mom(1),
    'mom2': mom(2),
    'mom3': mom(3),
    'mom4': mom(4),
    'mom5': mom(5),
    'mom6': mom(6),
    'mom7': mom(7),
    'mom8': mom(8),
    'mom9': mom(9),
    
    'yoy':yoy(1),
    'delta_yoy':yoy(1)-yoy(2),
    
    'bias5': bias(5),
    'bias10': bias(10),
    'bias20': bias(20),
    'bias60': bias(60),
    'bias120': bias(120),
    'bias240': bias(240),
    
    'acc5': acc(5),
    'acc10': acc(10),
    'acc20': acc(20),
    'acc60': acc(60),
    'acc120': acc(120),
    'acc240': acc(240),
    
    'rsv5': rsv(5),
    'rsv10': rsv(10),
    'rsv20': rsv(20),
    'rsv60': rsv(60),
    'rsv120': rsv(120),
    'rsv240': rsv(240),
}

### 製作dataset

##### 設定買賣頻率

In [12]:
every_month = rev.index
every_month

Index(['2001-M12', '2002-M01', '2002-M02', '2002-M03', '2002-M04', '2002-M05',
       '2002-M06', '2002-M07', '2002-M08', '2002-M09',
       ...
       '2021-M11', '2021-M12', '2022-M01', '2022-M02', '2022-M03', '2022-M04',
       '2022-M05', '2022-M06', '2022-M07', '2022-M08'],
      dtype='object', name='date', length=249)

##### 將dataframe 組裝起來

In [13]:
# features['bias20'].reindex(every_month, method='ffill')

for name, f in features.items():
    features[name] = f.reindex(every_month, method='ffill')

In [14]:

for name, f in features.items():
    features[name] = f.unstack()

In [15]:
import pandas as pd
dataset = pd.DataFrame(features)

In [16]:
feature_names = list(dataset.columns)

### 新增 label

In [17]:
from finlab import ml

ml.add_profit_prediction(dataset)
ml.add_rank_prediction(dataset)

ImportError: cannot import name 'ml' from 'finlab' (D:\ProgramData\Miniconda3\lib\site-packages\finlab\__init__.py)

### 刪除太大太小的歷史資料

In [ ]:
print(dataset.shape)

def drop_extreme_case(dataset, feature_names, thresh=0.01):
    
    extreme_cases = pd.Series(False, index=dataset.index)
    for f in feature_names:
        tf = dataset[f]
        extreme_cases = extreme_cases | (tf < tf.quantile(thresh)) | (tf > tf.quantile(1-thresh))
    dataset = dataset[~extreme_cases]
    return dataset

dataset_drop_extreme_case = drop_extreme_case(dataset, 
    ['bias60', 'bias120', 'bias240', 'mom1', 'mom2', 'mom3', 'mom4', 'mom5', 'mom6','yoy','delta_yoy'], thresh=0.01)

print(dataset_drop_extreme_case.shape)

In [ ]:
dataset_dropna = dataset_drop_extreme_case.dropna(how='any')
dataset_dropna = dataset_dropna.reset_index().set_index("date")

In [ ]:
dataset_drop_extreme_case.index.get_level_values("date")

In [ ]:
dataset_train = dataset_dropna.loc[:'2021']
dataset_test = dataset_dropna.loc['2022':]

### 神經網路模型

In [ ]:
import os

In [ ]:
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras import initializers

os.environ['KMP_DUPLICATE_LIB_OK']='True'

model = keras.models.Sequential()
model.add(layers.Dense(100, activation='relu',
                      input_shape=(len(feature_names),),
                      kernel_initializer=initializers.he_normal(seed=0)))
model.add(layers.Dense(100, activation='relu',
                      kernel_initializer=initializers.he_normal(seed=0)))
model.add(layers.Dropout(0.7))
model.add(layers.Dense(1, activation='sigmoid'))


model.summary()

model.compile(loss='mean_squared_error',
              optimizer="adam",)

print('start fitting')
history = model.fit(dataset_train[feature_names], dataset_train['rank'],
                    batch_size=10000, #1000
                    epochs=5000, #225
                    verbose=1,
                    validation_split=0.1, )

### 結果

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
plt.plot(history.history['val_loss'][1:])
plt.plot(history.history['loss'][1:])

### lightgbm Model

In [ ]:
import lightgbm as lgb
cf = lgb.LGBMRegressor(n_estimators=500)
cf.fit(dataset_train[feature_names].astype(float), dataset_train['rank'])

### Random Forest Model

In [ ]:
from sklearn.ensemble import RandomForestRegressor

cf2 = RandomForestRegressor(n_estimators=100)
cf2.fit(dataset_train[feature_names].astype(float), dataset_train['rank'])

In [ ]:
feature_imp = pd.DataFrame(zip(cf.feature_importances_, feature_names), 
                           columns=['Value','Feature']).sort_values('Value', ascending=False)
feature_imp

%matplotlib inline
import seaborn as sns
sns.barplot(x="Value", y="Feature", data=feature_imp)

### Ensemble learning

In [ ]:
dataset_drop = dataset.dropna(subset=feature_names+['return'])

vals = model.predict(dataset_drop[feature_names].astype(float))
dataset_drop['result1'] = pd.Series(vals.swapaxes(0,1)[0], dataset_drop.index)

vals = cf.predict(dataset_drop[feature_names].astype(float))
dataset_drop['result2'] = pd.Series(vals, dataset_drop.index)

vals = cf2.predict(dataset_drop[feature_names].astype(float))
dataset_drop['result3'] = pd.Series(vals, dataset_drop.index)

dataset_drop = dataset_drop.reset_index().set_index("date")

# backtest

In [ ]:
import math


dates = sorted(list(set(dataset_drop.index)))

rs = []
for d in dates:
    
    dataset_time = dataset_drop.loc[d]
    
    dataset_time = drop_extreme_case(dataset_time, 
        ['bias60', 'bias120', 'bias240', 'mom1', 'mom2', 'mom3', 'mom4', 'mom5', 'mom6','yoy','delta_yoy'], thresh=0.01)
    
    rank = dataset_time['result1'] + dataset_time['result2'] + dataset_time['result3'] 
    
    condition = (rank >= rank.nlargest(20).iloc[-1]) 
    r = dataset_time['return'][condition].mean()

    rs.append(r * (1-3/1000-1.425/1000*2*0.6))

rs = pd.Series(rs, index=dates)['2022':].cumprod()

s0050 = close['0050']['2022':]

pd.DataFrame({'nn strategy return':rs.reindex(s0050.index, method='ffill'), '0050 return':s0050/s0050[0]}).plot()

In [ ]:
#rs = [-1] ** (1/3.5)

### 當月持股狀況

In [ ]:
dataset.index.levels[1]

In [ ]:
# get the latest dataset
last_date = "2022-09-15"#dataset.index.levels[1].max()
is_last_date = dataset.index.get_level_values('date') == last_date
last_dataset = dataset[is_last_date].copy()


last_dataset = drop_extreme_case(last_dataset, 
    ['bias60', 'bias120', 'bias240', 'mom1', 'mom2', 'mom3', 'mom4', 'mom5', 'mom6','yoy','delta_yoy'], thresh=0.01)


# remove NaN testcases
last_dataset = last_dataset.dropna(subset=feature_names)

# predict

vals = model.predict(last_dataset[feature_names].astype(float))
last_dataset['result1'] = pd.Series(vals.swapaxes(0,1)[0], last_dataset.index)

vals = cf.predict(last_dataset[feature_names].astype(float))
last_dataset['result2'] = pd.Series(vals, last_dataset.index)

vals = cf2.predict(last_dataset[feature_names].astype(float))
last_dataset['result3'] = pd.Series(vals, last_dataset.index)

# calculate score

rank = last_dataset['result1'] + last_dataset['result2'] + last_dataset['result3']
condition = (rank >= rank.nlargest(20).iloc[-1]) 

# plot rank distribution
rank.hist(bins=20)


# show the best 20 stocks
slist1 = rank[condition].reset_index()['stock_id']

# 平均分配資產於股票之中

In [ ]:
close = data.get("收盤價")

money = 500000
stock_prices = close[rank[condition].reset_index()['stock_id']].iloc[-1]


print("股票平分張數:")
money / len(stock_prices) / stock_prices / 1000